/* Hide controls except for the subtitle control */
video::-webkit-media-controls {
    display: none;
  }
  
  video::-webkit-media-controls-track-select-button,
  video::-webkit-media-controls-enclosure {
    display: block !important;
    visibility: visible;
  }
  
  /* Adjust the style if needed */
  video {
    width: 100%;
    height: auto;
  }